.env
.env.*
*.env
*.env.*
!developement.env

node_modules/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
dist/
build/
bin/
out/
target/

.DS_Store
__pycache__/
*.pyc
*.pyo
*.o
*.class
